body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    text-align: center;
}

/* HEADER */
header {
    background: #222;
    color: white;
    padding: 10px;
}

.hidden {
    position: absolute;
    left: -9999px;
}

/* HAMBURGER */
#menu-toggle {
    display: none;
}

.hamburger {
    font-size: 30px;
    cursor: pointer;
    display: block;
}

/* MENU */
.menu {
    display: none;
    list-style: none;
    padding: 0;
}

#menu-toggle:checked + .hamburger + .menu {
    display: block;
}

.menu li {
    margin: 10px 0;
}

.menu a {
    color: white;
    text-decoration: none;
}

/* TABLICA */
table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background: black;
    color: white;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

/* LAYOUT */
.layout {
    display: flex;
    flex-direction: column;
}

/* desktop */
@media (min-width: 768px) {
    .layout {
        flex-direction: row;
        align-items: flex-start;
    }

    .content {
        flex: 2;
    }

    aside {
        flex: 1;
        margin-left: 20px;
    }
}

/* CONTENT BOX */
.content {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

/* SLIKA */
aside img {
    width: 100%;
    height: auto;
    opacity: 0.9;
    transition: 0.3s;
}

aside img:hover {
    opacity: 1;
    transform: scale(1.05);
}

/* FOOTER */
footer {
    background: #222;
    color: white;
    padding: 10px;
}